@use "../utils/variables" as *;

.kasa-error-number {
    color: $primary-color;
    text-align: center;
    font-family: $style;
    width: 100%;
    font-size: 288px;
    font-style: normal;
    font-weight: 700;
    line-height: 142.6%;
    margin-bottom: 139px;
}

.kasa-error-txt {
    color: $primary-color;
    font-family: $style;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: 142.6%;
    text-align: center;
    margin-bottom: 139px;
}

.kasa-error-home a {
    display: flex;
    justify-content: center;
    color: $primary-color;
    font-family: $style;
    width: 50%;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 142.6%;
    text-decoration-line: underline; 
    align-items: center;
    margin: auto;
    margin-bottom: 139px;
    text-align: center;
}

@media (max-width: 842px) {
    .kasa-error-number {
        font-size: 8em;
        margin-bottom: 60px;
    }
    .kasa-error-txt{
        font-size: 18px;
        margin-bottom: 60px; 
    }
}