.kasa-error-number {
    color: #FF6060;
    text-align: center;
    font-family: Montserrat;
    width: 100%;
    font-size: 25vw;
    font-style: normal;
    font-weight: 700;
    line-height: 142.6%;
    margin-bottom: 139px;
}

.kasa-error-txt {
    color: #FF6060;
    font-family: Montserrat;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: 142.6%;
    text-align: center;
    margin-bottom: 139px;
}

.kasa-error-home a {
    display: flex;
    justify-content: center;
    color: #FF6060;
    font-family: Montserrat;
    width: 50%;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 142.6%;
    text-decoration-line: underline; 
    align-items: center;
    margin: auto;
    margin-bottom: 139px;
}