@use "../utils/variables" as *;
.kasa-banner {
   width: 100%; 
}
.kasa-falaise {
    width: 86%;
    height: 223px;
    position: relative;
    border-radius: 25px;
    object-fit: cover;
    margin-right: 0;
    margin-left: 100px;
    mix-blend-mode: darken;
}

.kasa-falaise-text {
    position: absolute;
    width: 100%;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
}

.kasa-card {
    width: 1240px;
    height: 829px;
    flex-shrink: 0;
    width: 1240px;
    border-radius: 25px;
    background: #F6F6F6;
    margin-left: 100px;
    margin-top: 43px;
}