@use "../utils/variables" as *;
.kasa-banner {
   width: 100%; 
   position: relative;
}
.kasa-falaise {
    width: 91%;
    height: 223px;
    border-radius: 25px;
    object-fit: cover;
    margin-right: 0;
    margin-left: 57px;
    filter: brightness(0.6);
}

.kasa-falaise-text {
    position: absolute;
    width: 100%;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    top: 92px;
    font-size: 48px;
}
.kasa-container-card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    width: 87%;
    height: 100%;
    border-radius: 25px;
    background: #F6F6F6;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 50px;
    padding: 56px 3px 0 50px;
}

.kasa-card {
    gap : 50px;
    position: relative;
    margin-bottom: 50px;
}

.kasa-card-photo {
    border-radius: 10px;
    width: 340px;
    height: 340px;
}

.kasa-card-txt {
    position: absolute;
    color: $second-color;
    bottom: 34px;
    left: 12px;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 142.6%;
    width: 80%;
}

@media (min-width: 943px) and (max-width: 1024px) {
    .kasa-card-photo {
        width: 250px;
        height: 250px;
    }
}

@media (min-width: 768px) and (max-width: 942px) {
    .kasa-card-photo {
        width: 200px;
        height: 200px;
    }

    .kasa-card-txt {
        font-size: 16px;
    }
}

@media (min-width: 425px) and (max-width: 774px) {
    .kasa-card-photo {
        width: 250px;
        height: 250px;
    }

    .kasa-container-card {
        grid-template-columns: 1fr 1fr;
    }

    .kasa-card-txt{
        width: 70%;
    }
}