@use "../utils/variables" as *;

.kasa-container-logement {
    width: 100%;
    text-align: center;
}

.kasa-container-slider {
    width: 87%;
    position: relative;
    border-radius: 25px;
    margin: auto;
}

.slider-image {
    width: 100%;
    height: 415px;
    border-radius: 10px;
    object-fit: fill;
}

.right-arrow {
    position: absolute;
    color: $second-color;
    top: 190px;
    right: 0;
    cursor: pointer;
}

.left-arrow {
    position: absolute;
    color: $second-color;
    top: 190px;
    left: 0;
    cursor: pointer;
}

.kasa-slider-number {
    position: absolute;
    color: $second-color;
    bottom: 20px;
    left: 600px;
    font-size: 18px;
}

.kasa-slider-title {
    color: $primary-color;
    font-family: Montserrat;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: 142.6%;
    width: 87%;
    display: flex;
    margin: auto;
}

.kasa-slider-location {
    color: $primary-color;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 142.6%;
    width: 87%;
    display: flex;
    margin: auto;
    margin-bottom: 15px;
}

.kasa-slider-tags li {
    border-radius: 10px;
    background: $primary-color;
    height: 25px;
    list-style-type: none;
    color: $second-color;
    font-family: $style;
    font-size: 14px;
    display: flex;
    align-items: center;
    padding: 2px 12px 2px 12px;
    margin-right: 10px;
    margin-bottom: 20px;
}

.kasa-slider-tags {
    display: flex;
    flex-direction: row;
    width: 87%;
    margin: auto;
}

.kasa-container-equipments {
    display: flex;
    flex-direction: row;
    width: 97%;
    margin-left: 35px;

}

.kasa-container-equipments .kasa-collapse {
    width: 46%;
    margin-bottom: 50px;
    margin-right: 95px;
    margin-left: 57px;
}
//********** Host ********//
.kasa-host {
    display: flex;
    flex-direction: row;
    position: absolute;
    right: 101px;
    bottom:138px;
}

.host-picture {
    border-radius: 50%;
    width: 64px;
    height: 64px;
}

.host-name {
    display: flex;
    align-items: center;
    color: $primary-color;
    text-align: right;
    font-family: $style;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
}