@use "../utils/variables" as *;

.kasa-container-logement {
    width: 100%;
    text-align: center;
}

.kasa-container-slider {
    width: 87%;
    position: relative;
    border-radius: 25px;
    margin: auto;
}

.slider-image {
    width: 100%;
    height: 415px;
    border-radius: 10px;
    object-fit: fill;
}

.right-arrow {
    position: absolute;
    color: $second-color;
    top: 190px;
    right: 0;
    cursor: pointer;
}

.left-arrow {
    position: absolute;
    color: $second-color;
    top: 190px;
    left: 0;
    cursor: pointer;
}

.kasa-slider-number {
    position: absolute;
    color: $second-color;
    bottom: 20px;
    left: 0;
    right: 0;
    font-size: 18px;
}

.kasa-slider-title {
    color: $primary-color;
    font-family: Montserrat;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: 142.6%;
    width: 87%;
    display: flex;
    margin: auto;
}

.kasa-slider-location {
    color: $primary-color;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 142.6%;
    width: 87%;
    display: flex;
    margin: auto;
    margin-bottom: 15px;
}

.kasa-slider-tags li {
    border-radius: 10px;
    background: $primary-color;
    height: 25px;
    list-style-type: none;
    color: $second-color;
    font-family: $style;
    font-size: 14px;
    display: flex;
    align-items: center;
    padding: 2px 12px 2px 12px;
    margin-right: 10px;
    margin-bottom: 20px;
}

.kasa-slider-tags {
    display: flex;
    flex-direction: row;
    width: 87%;
    margin: auto;
}

.kasa-container-equipments {
    display: flex;
    flex-direction: row;
    width: 97%;
    margin-left: 35px;

}

.kasa-container-equipments .kasa-collapse {
    width: 46%;
    margin-bottom: 50px;
    margin-right: 95px;
    margin-left: 57px;
}

.kasa-container-equipments .kasa-container-description {
    height: 100px;
    color: $primary-color;
}

// ***** container host and rating

.kasa-host-rating {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 15%;
    right: 4px;
    bottom: 163px;
}

//********** Host ********//
.kasa-host {
    display: flex;
    flex-direction: row;
    position: absolute;
    right: 81px;
    bottom: 56px;
}

.host-picture {
    border-radius: 50%;
    width: 64px;
    height: 64px;
}

.host-name {
    display: flex;
    align-items: center;
    color: $primary-color;
    text-align: right;
    font-family: $style;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    width: 62%;
    margin-right: 10px;
}

// ******** rating *******//


.kasa-rating {
    position: absolute;
    width: 11%;
    right: 153px;
    bottom: 20px;
    display: flex;
    flex-direction: row;
}

.kasa-star {
    width: 25px;
    height: 25px;
    margin-right: 5px;
}

@media (max-width: 980px) {
    .kasa-host-rating {
        display: flex;
        flex-direction: row-reverse;
        width: 100%;
        height: 5%;
        position: inherit;
        margin-bottom: 20px;
    }

    .kasa-host {
        position: static;
        width: 30%;
        margin-right: 30px;
    }

    .kasa-rating {
        position: static;
        width: 60%;
    }

    .kasa-container-equipments {
        display: flex;
        flex-direction: column;
        width: 77%;
    }

    .kasa-container-equipments .kasa-collapse {
        width: 100%;
    }
}
