@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  padding: 0;
  border: 0;
  margin: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.kasa-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 87%;
  height: 68px;
  margin: auto;
  margin-bottom: 50px;
  margin-top: 45px;
}

.kasa-nav {
  width: 25%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.kasa-nav a {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  color: #FF6060;
  text-decoration: none;
  font-size: 1.5vw;
}

.kasa-nav a:hover {
  text-decoration: underline;
}

.kasa-footer {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: flex-end;
  height: 209px;
  width: 100%;
  background-color: #000000;
}

.kasa-logo2 {
  height: 39px;
  width: 8%;
  margin: auto;
  display: flex;
  align-content: center;
}

.kasa-footer-text {
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  Size: 24px;
}

.kasa-container-collapse {
  margin-top: 38px;
}

.kasa-collapse {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 72%;
  margin: auto;
  margin-bottom: 30px;
}

.kasa-quality {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  background: #FF6060;
  color: #FFFFFF;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 142.6%;
  padding-left: 5px;
}

.kasa-description {
  display: block;
  color: #FF6060;
  background: #F6F6F6;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 142.6%;
  width: 100%;
  height: 100px;
}

.kasa-collapse img {
  width: 24px;
  height: 24px;
}

.kasa-collapse button {
  background: #FF6060;
  width: 24px;
  height: 24px;
  border: transparent;
  position: absolute;
  right: 10px;
  top: 2px;
  border-radius: 50%;
  padding: 0;
}

.rotate180 {
  transform: rotate(180deg);
  animation-name: rotate;
  animation-duration: 500ms;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-50deg);
  }
  50% {
    transform: rotate(-100deg);
  }
  75% {
    transform: rotate(-150deg);
  }
  100% {
    transform: rotate(-180deg);
  }
}
.kasa-banner {
  width: 94%;
  margin: auto;
  position: relative;
}

.kasa-falaise {
  width: 91%;
  height: 223px;
  border-radius: 25px;
  object-fit: cover;
  margin-right: 0;
  margin-left: 57px;
  filter: brightness(0.6);
}

.kasa-falaise-text {
  position: absolute;
  width: 100%;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  top: 92px;
  font-size: 48px;
  color: #FFF;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
}

.kasa-container-card {
  display: grid;
  grid-template-columns: 29% 29% 29%;
  align-items: center;
  width: 81%;
  height: 100%;
  border-radius: 25px;
  background: #F6F6F6;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 50px;
  padding: 50px 3px 50px 60px;
  gap: 50px;
}

.kasa-container-card a {
  display: block;
  width: 100%;
  height: 100%;
}

.kasa-card {
  position: relative;
}

.kasa-card-photo {
  border-radius: 10px;
  width: 340px;
  height: 340px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
}

.kasa-card-txt {
  position: absolute;
  color: #FFFFFF;
  bottom: 34px;
  left: 12px;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 142.6%;
  width: 80%;
}

@media (min-width: 943px) and (max-width: 1024px) {
  .kasa-card-photo {
    width: 250px;
    height: 250px;
  }
}
@media (min-width: 768px) and (max-width: 942px) {
  .kasa-card-photo {
    width: 200px;
    height: 200px;
  }
  .kasa-card-txt {
    font-size: 16px;
  }
}
@media (min-width: 425px) and (max-width: 774px) {
  .kasa-card-photo {
    width: 250px;
    height: 250px;
  }
  .kasa-container-card {
    grid-template-columns: 1fr 1fr;
  }
  .kasa-card-txt {
    width: 70%;
  }
}
.kasa-error-number {
  color: #FF6060;
  text-align: center;
  font-family: Montserrat;
  width: 100%;
  font-size: 25vw;
  font-style: normal;
  font-weight: 700;
  line-height: 142.6%;
  margin-bottom: 139px;
}

.kasa-error-txt {
  color: #FF6060;
  font-family: Montserrat;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 142.6%;
  text-align: center;
  margin-bottom: 139px;
}

.kasa-error-home a {
  display: flex;
  justify-content: center;
  color: #FF6060;
  font-family: Montserrat;
  width: 50%;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 142.6%;
  text-decoration-line: underline;
  align-items: center;
  margin: auto;
  margin-bottom: 139px;
}

.kasa-container-logement {
  width: 100%;
}

.kasa-container-slider {
  width: 100%;
}

/*# sourceMappingURL=style.css.map */
