@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  padding: 0;
  border: 0;
  margin: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.kasa-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 87%;
  height: 68px;
  margin: auto;
  margin-bottom: 50px;
  margin-top: 45px;
}

.kasa-nav {
  width: 25%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.kasa-nav a {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  color: #FF6060;
  text-decoration: none;
  font-size: 1.4em;
}

.kasa-nav a:hover::after {
  text-decoration: underline;
}

.kasa-nav a:active::after {
  text-decoration: underline;
}

@media (max-width: 425px) {
  .kasa-header img {
    width: 50%;
  }
  .kasa-nav {
    width: 38%;
  }
  .kasa-nav a {
    font-size: 1em;
  }
}
.kasa-footer {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: flex-end;
  height: 209px;
  width: 100%;
  background-color: #000000;
}

.kasa-logo2 {
  height: 39px;
  width: 8%;
  margin: auto;
  display: flex;
  align-content: center;
}

.kasa-footer-text {
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  Size: 24px;
}

.kasa-container-collapse {
  margin-top: 38px;
}

.kasa-collapse {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 72%;
  margin: auto;
  margin-bottom: 30px;
}

.kasa-quality {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  background: #FF6060;
  color: #FFFFFF;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 142.6%;
  padding-left: 5px;
}

.kasa-description {
  display: block;
  color: #FF6060;
  background: #F6F6F6;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 142.6%;
  width: 100%;
  margin: 4px 5px 4px 5px;
}

.kasa-collapse img {
  width: 24px;
  height: 24px;
}

.kasa-collapse button {
  background: #FF6060;
  width: 24px;
  height: 24px;
  border: transparent;
  position: absolute;
  right: 10px;
  top: 2px;
  border-radius: 50%;
  padding: 0;
}

.rotate180 {
  animation-name: rotate;
  animation-duration: 300ms;
  animation-fill-mode: forwards;
  cursor: pointer;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-50deg);
  }
  50% {
    transform: rotate(-100deg);
  }
  75% {
    transform: rotate(-150deg);
  }
  100% {
    transform: rotate(-180deg);
  }
}
.reverse {
  animation-name: reverseRotate;
  animation-duration: 300ms;
  animation-fill-mode: forwards;
}

@keyframes reverseRotate {
  0% {
    transform: rotate(-180deg);
  }
  25% {
    transform: rotate(-150deg);
  }
  50% {
    transform: rotate(-100deg);
  }
  75% {
    transform: rotate(-50deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.openText {
  animation-name: openText;
  animation-duration: 300ms;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

@keyframes openText {
  0% {
    max-height: 2px;
  }
  25% {
    max-height: 5px;
  }
  50% {
    max-height: 15px;
  }
  75% {
    max-height: 20px;
  }
  100% {
    max-height: 100px;
  }
}
.closeText {
  animation-name: closeText;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

@keyframes closeText {
  0% {
    max-height: 100px;
  }
  25% {
    max-height: 20px;
  }
  50% {
    max-height: 15px;
  }
  75% {
    max-height: 5px;
  }
  100% {
    max-height: 2px;
  }
}
.kasa-description p {
  position: absolute;
  bottom: 0;
  transform: translateY(-100%);
  transition: transform 300ms ease;
}

.kasa-banner {
  width: 84%;
  margin: auto;
  position: relative;
}

.kasa-falaise {
  width: 91%;
  height: 223px;
  border-radius: 25px;
  object-fit: cover;
  margin-right: 0;
  margin-left: 57px;
  filter: brightness(0.6);
}

.kasa-falaise-text {
  position: absolute;
  width: 77%;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  top: 92px;
  left: 113px;
  font-size: 3em;
  color: #FFF;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
}

.kasa-container-card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  width: 73%;
  border-radius: 25px;
  background: #F6F6F6;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 50px;
  padding: 50px 60px 50px 54px;
  gap: 50px;
}

.kasa-container-card a {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
}
.kasa-container-card a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 1%;
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 52%, rgba(0, 0, 0, 0.5) 100%);
  background-color: transparent;
  z-index: 1;
  border-radius: 10px;
}

.kasa-card {
  position: relative;
}

.kasa-card-photo {
  border-radius: 10px;
  width: 100%;
  height: 340px;
}

.kasa-card-txt {
  position: absolute;
  color: #FFFFFF;
  bottom: 34px;
  left: 12px;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 142.6%;
  width: 80%;
  z-index: 2;
}

@media (min-width: 768px) and (max-width: 942px) {
  .kasa-card-txt {
    font-size: 16px;
  }
}
@media (min-width: 426px) and (max-width: 774px) {
  .kasa-container-card {
    grid-template-columns: 1fr 1fr;
  }
  .kasa-card-txt {
    width: 70%;
  }
}
@media (max-width: 425px) {
  .kasa-banner {
    margin: 0;
  }
  .kasa-falaise-text {
    font-size: 2em;
    width: 57%;
  }
  .kasa-container-card {
    grid-template-columns: 1fr;
  }
}
.kasa-error-number {
  color: #FF6060;
  text-align: center;
  font-family: Montserrat;
  width: 100%;
  font-size: 25vw;
  font-style: normal;
  font-weight: 700;
  line-height: 142.6%;
  margin-bottom: 139px;
}

.kasa-error-txt {
  color: #FF6060;
  font-family: Montserrat;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 142.6%;
  text-align: center;
  margin-bottom: 139px;
}

.kasa-error-home a {
  display: flex;
  justify-content: center;
  color: #FF6060;
  font-family: Montserrat;
  width: 50%;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 142.6%;
  text-decoration-line: underline;
  align-items: center;
  margin: auto;
  margin-bottom: 139px;
}

.kasa-container-logement {
  width: 100%;
  text-align: center;
}

.kasa-container-slider {
  width: 87%;
  position: relative;
  border-radius: 25px;
  margin: auto;
}

.slider-image {
  width: 100%;
  height: 415px;
  border-radius: 10px;
  object-fit: fill;
}

.right-arrow {
  position: absolute;
  color: #FFFFFF;
  top: 190px;
  right: 0;
  cursor: pointer;
}

.left-arrow {
  position: absolute;
  color: #FFFFFF;
  top: 190px;
  left: 0;
  cursor: pointer;
}

.kasa-slider-number {
  position: absolute;
  color: #FFFFFF;
  bottom: 20px;
  left: 600px;
  font-size: 18px;
}

.kasa-slider-title {
  color: #FF6060;
  font-family: Montserrat;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 142.6%;
  width: 87%;
  display: flex;
  margin: auto;
}

.kasa-slider-location {
  color: #FF6060;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 142.6%;
  width: 87%;
  display: flex;
  margin: auto;
  margin-bottom: 15px;
}

.kasa-slider-tags li {
  border-radius: 10px;
  background: #FF6060;
  height: 25px;
  list-style-type: none;
  color: #FFFFFF;
  font-family: Montserrat;
  font-size: 14px;
  display: flex;
  align-items: center;
  padding: 2px 12px 2px 12px;
  margin-right: 10px;
  margin-bottom: 20px;
}

.kasa-slider-tags {
  display: flex;
  flex-direction: row;
  width: 87%;
  margin: auto;
}

.kasa-container-equipments {
  display: flex;
  flex-direction: row;
  width: 97%;
  margin-left: 35px;
}

.kasa-container-equipments .kasa-collapse {
  width: 46%;
  margin-bottom: 50px;
  margin-right: 95px;
  margin-left: 57px;
}

.kasa-host {
  display: flex;
  flex-direction: row;
  position: absolute;
  right: 101px;
  bottom: 138px;
}

.host-picture {
  border-radius: 50%;
  width: 64px;
  height: 64px;
}

.host-name {
  display: flex;
  align-items: center;
  color: #FF6060;
  text-align: right;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
}

/*# sourceMappingURL=style.css.map */
