@use "../utils/variables" as *;

.kasa-footer {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: flex-end;
    height: 209px;
    width: 100%;
    background-color: $third-color;
}

.kasa-logo2 {
    height: 39px;
    width: 122px;
    margin: auto;
    display: flex;
    align-content: center;
}

.kasa-footer-text {
    color: $second-color;
    display: flex;
    justify-content: center;
    font-family: $style;
    margin-bottom: 40px;
}

@media (max-width: 375px) {
    .kasa-footer-text {
        width: 50%;
        text-align: center;
        margin: auto;
        margin-top: 0;
        font-size: 16px;
    }
    .kasa-logo2 {
        margin-bottom: 20px;
    }
}